body {
  font-family: "Garamond";
}

@media (max-width: 1000px) {
}

@media (max-width: 670px) {
}

.header-list a {
  list-style: none;
  font-size:19px;
  float: right;
  padding: 40px 50px;
  color: #bba187;
}
.product-icon {
  width: 100%;
  text-align: center;
  color: #bba187;
}
.product-icon img {
  width: auto;
}
.contact-submit {
  background-color:#dee7ec;
  color:#889eab;
  appearance: push-button;
user-select: none;
white-space: pre;
align-items: flex-start;
text-align: center;
cursor: pointer;
}

.header {
  background-color: #fae4cc;
  height: 100px;
  margin :1500px
  font-size: 50px;
}
.header-logo{
  font-size: 36px;
  float: left;
  color: #bba187;
  padding: 25px 50px;
  font-weight: bolder;
}
.header-list a:hover{
  background-color: #ebd4b4;
  transition: 0.5s;
  cursor: pointer;

}

body{
background-color: #ebc1a7;
  height: 600px;
  width: auto;
}



.main-text h1{
  font-size: 60px;
  letter-spacing: 5px;
  color: white;
  text-align: center;

}

.main-text h2 {
  letter-spacing: 5px;
  color: white;
  text-align: center;

}
.main-text p{
  text-align: center;
  color: white;
  style: bold;
}
.main{
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v855-techi-nunoon-37a.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=800&s=c6d8db1d4a45d3da1c8ea12cd9c1adeb);
height: 1000px
color :white;
text-align: center
}

.heading{
  color: white;
  text-align: center;
}

.product-list hr{
  color: #bba187;
}

.footer {
  background-color: #ebd4b4;
  height: 270px;
  color: white;

}
